<header class="header">

    <div class="header-form-content">
        <div class="wancho ">
            <form method="POST">
                <div class="header-input">
                    <input class="validate[required]" id="busqueda" name="valor" type="text" placeholder="¿Que deseas buscar?">
                    <button class="btn-search-buscador">Buscar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="wancho header-ctn">
        <div class="header-box">
            <a href="{{ path('home') }}" class="header-logo">
                <img src="{{ asset(info.logo) }}" alt="" width="291">
            </a>
        </div>
        <nav class="menu">
            <div class="menu-wrap">
                <ul class="menu-list"> <!-- "menu-list" es usado para el menu responsive -->
                    <li class="menu-item no-home">
                        <a href="{{ path('es-home') }}" class="menu-link">Escuela de Estudios Superiores</a>
                    </li>
                    <li class="menu-item no-home">
                        <a href="{{ path('dt-home') }}" class="menu-link">Instituto de Diagnostico y Tratamiento</a>
                    </li>
                    <li class="menu-item no-home">
                        <a href="" class="menu-link">Colegio Fernando Wiese Eslava</a>
                    </li>
                    <li class="menu-item no-home"><a href="{{ path('home-ant') }}" class="menu-link">Colegio Antares</a></li>
                    <li class="menu-item no-mobil w-size w-search">
                        <a href="" class="menu-link icon-lupa lupa icon"></a>
                    </li>

                    <li class="menu-item w-size">
                        <a href="" class="menu-link  icon hamburguesa no-mobil">
                            <span class="icon-oc"></span>
                        </a>
                        <div class="submenu">
                            <div class="wancho">
                                <ul class="">
                                    <li>
                                        <a href="{{ path('somos') }}">Quiénes Somos</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('noticias') }}">Novedades</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('eventos') }}">Eventos</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog') }}">Blog</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('contacto') }}">Contáctanos</a>
                                    </li>
                                </ul>
                                <ul class="recursos">
                                    <li class="no-mobil">
                                        <a href="">Recursos</a>
                                    </li>
                                    <li class="noborder">
                                        <a href="{{ info.aulaVirtual }}" class="header-boton" target="_blank">
                                            Aula Virtual
                                        </a>
                                        <a href="{{ info.intranet }}" class="header-boton" target="_blank">
                                            Intranet
                                        </a>
                                        <a href="{{ info.bibliotecaLink }}" class="header-boton" target="_blank">
                                            Biblioteca
                                        </a>
                                    </li>
                                    <li class="header-redes-box ">
                                        <p class="mr no-mobil">
                                            Síguenos
                                        </p>
                                        <a href="{{ info.twitter }}" class="header-redes" target="_blank">
                                            <span class="icon-twitter"></span>
                                        </a>
                                        <a href="{{ info.facebook }}" class="header-redes" target="_blank">
                                            <span class="icon-fb"></span>
                                        </a>
                                        <a href="{{ info.youtube }}" class="header-redes" target="_blank">
                                            <span class="icon-youtube2"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="" class="menu-buscar icon-lupa lupa dn">
        </a>

    </div>

    <div  class="menu-mobile-open icon-menu"></div>

    {% set url_route = app.request.attributes.get('_route') %}

    {% if url_route != "" %}
        {% set url_path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <!-- <div class="header-redes-fixed">
            <a href="javascript: void(0);" onclick="shareSocial(this, 'facebook', '{{ infosite }}{{ url_path }}')" class="icon-fb"></a>
            <a href="javascript: void(0);" onclick="shareSocial(this, 'twitter', '{{ infosite }}{{ url_path }}')" class="icon-twitter"></a>
            <a href="" class="icon-impresora"></a>
            <a href="" class="icon-avion"></a>
            <a href="javascript: void(0);" onclick="shareSocial(this, 'googlemas', '{{ infosite }}{{ url_path }}')" class="icon-compartir"></a>
        </div> -->

        <div class="header-redes-fixed">
            <a href="javascript: void(0);" target="_blank" onclick="shareSocial(this, 'facebook', '{{ infosite }}{{ url_path }}')" class="icon-fb"></a>
            <a href="javascript: void(0);" target="_blank" onclick="shareSocial(this, 'twitter', '{{ infosite }}{{ url_path }}')" class="icon-twitter"></a>
            <a href="javascript: void(0);" onclick="shareSocial(this, 'googlemas', '{{ infosite }}{{ url_path }}')" class="icon-google-plus"></a>
            <a href="javascript:window.print()" class="icon-impresora"></a>
            <a href="#pop" class="lanza-pop-up"> <i class="icon-avion"></i></a>
        </div>
    {% endif %}
</header>
